# ignore .DS_store files
find . -name .DS_Store -type f -delete

# ignore .git files
find . -name .git -type d -prune -exec rm -rf {} \;

# ignore .svn files
find . -name .svn -type d -prune -exec rm -rf {} \;

# ignore .hg files
find . -name .hg -type d -prune -exec rm -rf {} \;